body {
  font-family: arial;
  background-color: #fff8e6;
}

h1 {
  font-family:Gerogia, serif;
  color: #A569BD;
  background-color: #EBDEF0;
  padding: 10px;
}

header > h1 {
  font-family:Gerogia, serif;
  color: #A569BD;
  background-color: #EBDEF0;
  padding: 10px;
  text-align: center;

}

h2 {
  font-family:Gerogia, serif;
  color: #A569BD;
  font-size: 2em;
  text-align: center;
  background-color: #EBDEF0;
  padding: 10px;
  text-shadow: 1px 1px 1px #4A235A;

}

h4 {
  font-family:Gerogia, serif;
  color: red;
  font-size: 1.2em;
  text-align: center;
  background-color: #EBDEF0;

}

h3 {
  font-family:Gerogia, serif;
  text-transform: uppercase;
  text-align: center;
}

span {
  font-weight:bold;

}

#keepup {
  text-decoration: overline;
}

#about {
  text-decoration: overline;
}

p {

}

.aboutsum {
  border: 2px solid black;
  padding: 10px;
  display: grid;
}

blockquote {
  font-family: "Courier New";
  background-color: #EBDEF0;
  padding: 10px;


}

header > blockquote {
  font-family: "Courier New";
  background-color: #EBDEF0;
  padding: 10px;
  font-size: 1.2rem;
  text-align: center;

}

table, th, td{
  border-collapse: collapse;
  border: 1px dotted #A569BD;
  background-color: #EBDEF0;
  padding: 10px;

}

nav > ul {
  list-style-type: none;
  font-family: arial;
  font-size: 1.2em;
  text-align: center;
  color: #A569BD;
  background-color: #EBDEF0;
  padding: 15px;
  border: 1px solid #A569BD;


}

nav > ul > li {
  display: inline;
  border: 1px solid #A569BD;
  padding: 10px;
  background-color: #EBDEF6;

}

ol > li {
  border: 1px solid #A569BD;
  padding: 10px;
}

a:hover {
  background-color: #A569BD;
  color: #F8BBD0;
  padding: 2px;

}

nav > a:hover {
  background-color: #A569BD;
  color: #4b4aa1;


}

header > img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border: 2px solid #A569BD;

}

article > img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border: 3px solid #6968c4;

}

footer {
  border: 2px solid #A569BD;
  text-align: center;
  background-color: #EBDEF0;
  font-family: arial;
}

a[href] {
  background-color: #F5F5F5;
  color: #A569BD;
  font-size: 1rem;

}

a:visited {
  color: #fc79fa;

}

tr:hover {
  color: #874af7;

}

p::selection {
  background-color: #874af7;
  color: white;

}

aside {
  border: 5px solid #EBDEF0;
}

#MainHeader {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: #EBDEF0;
}


#abouttable {
  display: grid;
  grid-template-columns: 1fr;

}

#aboutupper > #two{
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 2fr;

}

#videos > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

#albums {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

#albums > div > img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid #6968c4;

}

#albums > div > h3{
  font-family:Gerogia, serif;
  color: #EBDEF0;
  text-transform: uppercase;
  text-align: center;
  background-color: #6968c4;
  padding: 10px;

}

#albums > div > h4{
  font-family:Gerogia, serif;
  color: #6968c4;
  text-transform: uppercase;
  text-align: center;

}

#homemain {
  display: grid;
  grid-template-columns: 4fr 1fr;

}

#albumtable {
  display: grid;
  grid-template-columns: 1fr;

}
