body {
  font-family: arial;

}

h1 {
  font-family:Gerogia, serif;
  color: #A569BD;
  background-color: #EBDEF0;
  padding: 10px;
}

h2 {
  font-family:Gerogia, serif;
  color: #A569BD;
  font-size: 2em;
  text-align: center;
  background-color: #EBDEF0;
  padding: 10px;
  text-shadow: 1px 1px 1px #4A235A;

}

h3 {
  font-family:Gerogia, serif;
  text-transform: lowercase;
}

span {
  font-weight:bold;

}

#keepup {
  text-decoration: overline;
}

#about {
  text-decoration: overline;
}

p {

}

.aboutsum {
  border: 2px solid black;
  padding: 10px;
}

blockquote {
  font-family: "Courier New";
  background-color: #EBDEF0;
  padding: 10px;

}

table, th, td{
  border-collapse: collapse;
  border: 1px dotted #A569BD;
  background-color: #EBDEF0;
  padding: 10px;

}

nav > ul {
  list-style-type: none;
  font-family: arial;
  font-size: 1.2em;
  text-align: center;
  color: #A569BD;
  background-color: #EBDEF0;
  padding: 15px;
  border: 1px solid #A569BD;


}

nav > ul > li {
  display: inline;
  border: 3px solid #A569BD;
  padding: 15px;
  background-color: #EBDEF6;

}

ol > li {
  border: 1px solid #A569BD;
  padding: 10px;
}

a:hover {
  background-color: #F5F5F5;
  color: #F8BBD0;
  padding: 5px;

}

header > img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;


}

article > img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;


}
